.env
.env.* 

*.pid
*.log
/tmp
/vendor/
node_modules/
frontend/node_modules/
backend/vendor/bundle

backend/config/master.key
backend/config/credentials.yml.enc
backend/log/*
!backend/log/.keep
backend/tmp/*
!backend/tmp/.keep

frontend/dist
frontend/.vite

.DS_Store
*.swp
*.swo
*.bak
.idea/
.vscode/